@using DEMO2
@model List<VideoJuego>

@if (Model != null)
{
    <div class="contenedor-juegos">

        @foreach (var juego in Model)
        {
            <div class="card-juego">

                <img src="~/img/@juego.Foto" class="card-juego-img" />

                <div class="card-juego-body">
                    <h3>@juego.Nombre</h3>

                    <p>
                        @juego.Descripcion
                    </p>

                    <span class="id-juego">
                        ID: @juego.Id
                    </span>
                </div>

            </div>
        }
    </div>
}