@using DEMO2
@model List<VideoJuego>

<form method="post" asp-controller="VideoJuego" asp-action="BuscarJuegos">
    <input type="text" id="buscador" class="search" placeholder="Buscar juegos" name="criterio" />

    <div id="resultados"></div>

    <script src="~/js/busqueda.js"></script>

    <p>@ViewBag.Error</p>
</form>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Foto
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var juego in Model)
            {
                <tr>
                    <td>
                        @juego.Id
                    </td>
                    <td>
                        @juego.Nombre
                    </td>
                    <td>
                        @juego.Descripcion
                    </td>
                    <td>
                        <img src="~/img/@juego.Foto" style="width:100px" />
                    </td>
                </tr>
            }

        </tbody>

    </table>

    @section Scripts {
        <script src="~/js/busqueda.js"></script>
    }
}