@using DEMO2
@model List<VideoJuego>

    @if (TempData["Mensaje"] != null)
{
    <div id="mensaje" class="mensaje-exito">
        @TempData["Mensaje"]
    </div>
}
<div class="row row-cols-1 row-cols-md-5 g-4">

    @foreach (var juego in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="img/@juego.Foto"
                     class="card-img-top"
                     alt="@juego.Nombre">

                <div class="card-body">
                    <form method="post" asp-action="Comprar" asp-controller="Carrito">
                        <h5 class="card-title">@juego.Nombre</h5>
                        @if (Context.Session.GetInt32("LogueadoId") != null)
                        {
                            <input type="hidden" name="id" value="@juego.Id" />
                            @if (juego.DLC)
                            {
                                @if (juego is Virtual v)
                                {
                                    <label>
                                        ¿Desea agregar el DLC por el total de $@v.CalcularPrecioRealSiLlevaOnoDlc(v.DLC) ?
                                    </label>
                                }
                                else if (juego is Fisico f)
                                {
                                    <label>
                                        ¿Desea agregar el DLC por el total de  $@f.CalcularPrecioRealSiLlevaOnoDlc(f.DLC) ?
                                    </label>
                                }
                                <input type="checkbox" name="dlc" value="true" />

                            }
                            <p class="card-text">
                                <button type="submit">Comprar</button>
                            </p>
                        }

                      
                    </form>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        @if (Context.Session.GetInt32("LogueadoId") != null)
                        {
                            <span>Precio: $@juego.Precio</span>
                        }
                    </small>
                </div>

                
            </div>
        </div>
    }

    

</div>
