@using DEMO2
@model List<VideoJuego>

@if (TempData["Mensaje"] != null)
{
    <div id="mensaje" class="mensaje-exito">
        @TempData["Mensaje"]
    </div>
}

<div class="container mt-5">

    <h1 class="titulo-gamer text-center mb-5">
        🎮 GAME STORE
    </h1>

    <form>
        <input type="text"
               id="buscador"
               class="search"
               placeholder="Buscar juegos"
               name="criterio" />
    </form>

    <script>
            const urlBuscar = '@Url.Action("BuscarJuegos", "VideoJuego")';
    </script>

    <script src="~/js/busqueda.js"></script>

    <!-- SOLO UNO -->
    <div id="resultados">
        <partial name="_ListaJuegos" model="Model" />
    </div>

</div>