@using DEMO2
@model List<VideoJuego>

<div class="row row-cols-1 row-cols-md-5 g-4">

    @foreach (var juego in Model)
    {
        <div class="col">


            <div class="card h-100 shadow-sm">

                
                <img src="img/@juego.Foto"
                     class="card-img-top"
                     alt="@juego.Nombre">

                <div class="card-body">
                    <form method="post" asp-action="Comprar" asp-controller="Carrito">
                        <h5 class="card-title">@juego.Nombre</h5>
                        @if (juego.DLC)
                        {
                            <input type="hidden" name="id" value="@juego.Id" />
                            <label>
                                <input type="checkbox" name="dlc" value="true" />
                                ¿Desea agregar el DLC?
                            </label>
                        }


                        <p class="card-text">
                            @if (Context.Session.GetInt32("LogueadoId") != null)
                            {
                             <button type="submit">Comprar</button>
                            }
                        </p>
                    </form>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        @if (Context.Session.GetInt32("LogueadoId") != null)
                        {
                            <span>Precio: $@juego.Precio</span>
                        }

                    </small>
                </div>

                
            </div>
        </div>
    }

</div>
