@using DEMO2
@model List<CarritoCompra>

<h2>Mi Carrito</h2>

@if (Model == null || !Model.Any())
{
    <p>El carrito está vacío.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Juego</th>
                <th>DLC</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VideoJuego.Nombre</td>
                    <td>
                        @(item.CompraDLC ? "Sí" : "No")
                    </td>
                    <td>$@item.VideoJuego.CalcularPrecioRealSiLlevaOnoDlc(item.CompraDLC)</td>
                    <form method="post" asp-action="Delete" asp-controller="Carrito">
                        <input type="hidden" name="id" value="@item.VideoJuego.Id" />
                        <td>
                            <button class="btn-dark" type="submit">
                                Quitar juego de la lista
                            </button>
                        </td>
                    </form>

                </tr>
            }
        </tbody>
    </table>
    <h4>
        Total: $@Model.Sum(c => c.VideoJuego.CalcularPrecioRealSiLlevaOnoDlc(c.CompraDLC))
    </h4>
}
