@{

    string lrol = Context.Session.GetString("LogueadoRol");

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webapp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
</head>



<div class="hero logged">
    <div class="hero-content">
        <h1>🎮 ¡Bienvenido a GameStore!</h1>
        <p>
            Descubrí nuevos videojuegos, agregalos a tu carrito y disfrutá de las mejores experiencias.
        </p>

        <div class="hero-buttons">
            <a asp-controller="VideoJuego" asp-action="Index" class="btn-primary-custom">
                Explorar juegos
            </a>
            @if (lrol == "Administrador")
            {
                <a asp-controller="Cliente" asp-action="Index" class="btn-primary-custom">
                    Ver clientes
                </a>
                <a asp-controller="Compra" asp-action="Index" class="btn-primary-custom">
                    Ver compras
                </a>
            }
            else if (lrol == "Cliente")
            {
                <a asp-controller="Compra" asp-action="VerComprasClienteLogueado" class="btn-primary-custom">
                    Mis compras
                </a>
                <a asp-controller="Carrito" asp-action="Index" class="btn-primary-custom">
                    Ver carrito
                </a>
            }

        
        </div>
    </div>
</div>

<section class="cards-container">

    <div class="info-card">
        <h2>🕹️ Catálogo</h2>
        <p>
            Explorá una amplia colección de juegos de distintos géneros.
            Encontrá tu próxima aventura.
        </p>
    </div>

    <div class="info-card">
        <h2>🛒 Carrito</h2>
        <p>
            Guardá todos los juegos que quieras comprar y revisalos antes de finalizar la compra.
        </p>
    </div>

    <div class="info-card">
        <h2>⭐ DLC disponibles</h2>
        <p>
            Algunos videojuegos cuentan con contenido adicional para ampliar la experiencia.
        </p>
    </div>

</section>