@model LoginViewModel

@if (TempData["MsjRegister"] != null)
{
    <div id="mensaje" class="mensaje-exito">
        @TempData["MsjRegister"]
    </div>
}
<div class="login-container">

    <div class="login-card">

        <h1 class="login-title">🎮 GAME LOGIN</h1>

        <form method="post">

            <div class="mb-3">
                <label>Email</label>
                <input asp-for="Email" class="form-control gamer-input" />
            </div>

            <div class="mb-4">
                <label>Password</label>
                <input asp-for="Password" type="password" class="form-control gamer-input" />
            </div>

            <button type="submit" class="btn gamer-btn w-100">
                Iniciar Sesión
            </button>

        </form>

        @if (ViewBag.msg != null)
        {
            <p class="mensaje-error mt-3">@ViewBag.msg</p>
        }

    </div>

</div>